<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" novalidate>
    <div style="margin-bottom: 1em">
        <button type="submit" [disabled]="categoryForm.pristine" class="btn btn-success">Save</button>
        <button type="reset" (click)="revert()" [disabled]="categoryForm.pristine" class="btn btn-danger">Revert</button>
        <a type="delete" (click)="delete()" class="btn btn-danger">Delete</a>
    </div>

    <div class="form-group">
        <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
    </div>

    <div class="form-group">
        <label class="center-block">Name:
        <input class="form-control" formControlName="description">
      </label>
    </div>
  <div class="form-group">
    <label class="center-block">active:
        <input type="checkbox" formControlName="active">active
      </label>
  </div>

</form>

<p>{{categoryForm.value | json}}</p>