<h3 *ngIf="isLoading"><i>Loading Category ... </i></h3>
<h3 *ngIf="!isLoading">Select a Category:</h3>
<h3>Category</h3>
<div class="container">
    <div class="row">
        <div class="col-3">
            <button (click)="getCategories()" class="btn btn-primary">Refresh</button>
            <button (click)="addNewCategory()" class="btn btn-primary">New Category</button>
            <ul>
                <li *ngFor="let category of list" (click)="select(category)"><a>{{category.name}}</a></li>
            </ul>
        </div>

        <div class="col-9">
            <div *ngIf="selectedCategory">
               
                <h2>Category Detail</h2>
                <h3>Editing: {{selectedCategory.name}}</h3>
                <category-detail [category]="selectedCategory"></category-detail>
            </div>
        </div>
    </div>
</div>