.pointer{
    cursor: pointer
    }

    #dragQuestions{
        .ui-orderlist .ui-orderlist-list{
            height:100%;
        }
    }
    .ui-orderlist .ui-orderlist-list{
        height:100%!important;
    }
    .ui-widget-content{
        border:0px;
    }