<nav class="navbar navbar-inverse bg-inverse fixed-top">
    <a class="navbar-brand" href="">
    {{title}}
</a>
<ul>
  <li><a href="/user">Users</a></li>
  <li><a href="/role">Roles</a></li>
  <li><a href="/question">Questions</a></li>
  <li><a href="/answer">Answers</a></li>
  <li><a href="/category">Categories</a></li>
  <li><a href="/type">Types</a></li>
  <li><a href="/group">Groups</a></li>
</ul>
</nav>

  <!--<div class="container">
    <h1>Reactive Forms</h1>
    <hero-list></hero-list>
  </div>-->

<div class="container">
    <router-outlet></router-outlet>
</div>